# See https://help.github.com/ignore-files/ for more about ignoring files.

# vscode configuration
.vscode/

# python cache
**/__pycache__

# venv
*.venv/

# flask env
.flaskenv

# dependencies
**/node_modules
ClashOfLLMs.code-workspace

# Mac folder files
.DS_Store

